.app-menu-flyout {
  position: absolute;
  border: 1px solid lightgray;
  border-top: none;
  border-left: none;
  background: white;
  padding: 0px 20px;
  top: calc(100% - 2px);
  border-radius: 5px;
  border-top-left-radius: unset;
}

.app-menu-flyout > p {
  cursor: pointer;
  position: relative;
  background: white;
}

.app-menu-flyout > p:hover {
  text-decoration: underline;
}
